<div class="section-2">
    <h2>About</h2>
    <p>Helps not to repeat the html code by division into components</p>
    <h2>Experience</h2>
    <p>Use flag "-serve" to realtime reload changes in your project</p>
    <h2>Note</h2>
    <p>For live reload page must have minimal standard html structure:</p>
    <pre >
    <code>
&lt;html&gt;
    &lt;head&gt;
    ...
    &lt;/head&gt;
    &lt;body&gt;
    ...
    &lt;/body&gt;
&lt;/html&gt;
    </code>
    </pre>
    <h2>Pages</h2>
    <a href="/">page1</a>
    <a href="/page2.html">page2</a>
</div>